.wrapper{
        background-color:  #02a4ef;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0;
        background-image: url("../images/pattern_1.jpg");
    
}
.character__date{
        display: flex;
        justify-content: center;
        color: #818184;
}
.characters{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        padding-bottom: 100px;
}
.character_list{
        background-color:  white;
        margin-top: 100px;
        padding: 40px;
        border: 0.5px solid rgb(135, 11, 11);
        box-shadow: 0 0 25px rgb(135, 11, 11);
        border-radius: 10px;
        width: 600px;
        height: 800px;
}
.character__name{
        text-align: center;
        color: #818184;
        margin-bottom: 10px;
        font-weight: 700;
}
.character__price{
        display: flex;
        font-weight: 600;
        font-size: 2rem;
        align-items: center;
        flex-direction: column;

}
.character_date{
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        margin-bottom: 30px;
        font-weight: 200;
}
.character_Photo img{
        margin-bottom: 1.5rem;
        border: 1px solid gray;
        border-radius: 1.5rem;
        width: 100%;
        height: 100%;
}
.Characters_bio{

        width: 500px;
        color: #818184;
        margin-top: 15px;
        font-weight: 500;
}